.home-image {
    background: url('/public/assets/images/dallas-1600x1067.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact_blurb{
    text-align: center;
    color: white;
    padding-top: 450px;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.overlay-scrim {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 255) 50%);
    background: -o-linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 255) 50%);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 255) 50%);
    background: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 255) 50%);
    height: 1067px;
    width: 100%;
    padding-top: 100px;
}

.section-buffer{
    height: 1067px;
}