<div id="home" class="home-image">
    <div class="overlay-scrim">
        <div class="container">
            <div class="container-fluid ">
                <div class="brand-large">
                    <img src="../../public/assets/images/splashlogo.png">
                </div>
                <div class="text-center">
                    Parking Enforcement. Evolved.
                </div>
                <div>
                    <a href="mailto://info@violox.com" class="btn panel signup">
                        Sign up for Free
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>