<div style="position: relative; height: 425px; padding: 0;">
    <!--<iframe style="opacity: .2;" src="https://player.vimeo.com/video/242300083?background=1" width="1200" height="627" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
    <video src="/public/assets/videos/VLBarnCapSilent.mp4" playsinline muted autoplay loop id="head-vid"></video>

    <div class="overlay-scrim">
        <div class="header-title">
            <p>Fix your parking problems.</p>
        </div>
        <div class="header-text">
            <p>Violox helps private properties control parking and boost revenue with fast and flexible parking
                enforcement, permits, and mobile alerts. </p>
        </div>
        <div style="width: 190px; padding:10px 0 10px 0;">
            <a scrollTo href="#vio-enforce-sub-md" class="btn btn-default">SEE HOW IT WORKS</a>
        </div>
        <div style="width:30px; margin-bottom: 30px">
            <a scrollTo href="#vio-enforce-sub-md"><i class="fa fa-chevron-down fa-2x fa-inverse"></i></a>
        </div>
    </div>
</div>
