<div id="home" class="home-image">
    <div class="overlay-scrim">
        <div class="media">
            <div class="media-left">
                <img class="media-object visible-lg visible-md" src="../../public/assets/images/splashlogo.png">
            </div>
            <div class="media-body">
                <div class="header-title"><p>Fix your parking <br/> problems.</p></div>
                <div class="header-text"><p>Violox helps private properties control parking, boost revenue, and wow
                    tenants with fast and flexible parking enforcement, permits, and mobile alerts. </p>
                </div>
                <div>
                    <div style="width: 155px; margin: 0 auto;">
                        <p style="text-align: center" class="btn btn-default">COMING SOON</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>