<div id="home" class="home-image">
    <div class="overlay-scrim">
        <div class="container"
             style=" padding-top: 40px;">
            <div class="container-fluid ">
                <div><img src="../../public/assets/images/splashlogo.png" class="brand-large">
                </div>
                <div class="text-center" style="color: #ffffff;font: 50px arial, sans-serif;">Parking Enforcement.
                    Evolved.
                </div>
                <div class="brand-large btn panel signup">Sign Up For Free <span
                        class="glyphicon glyphicon-arrow-right"></span></div>
            </div>
        </div>
    </div>
</div>