<div style="margin-bottom: 30px">
    <div class="enforcement-logo"></div>
    <div>
        <div class="text-div">
            <p class="header-title">Enforcement. Evolved.</p>
        </div>
        <div class="text-div">
            <p class="header-sub-title">Meet The Barnacle</p>
            <div class="text-div">
            </div>
            <p class="header-text">Violox, a non-towing parking solutions network company, is ready to vastly improve
                private property parking with our smart, fast, and flexible tools. We are proud to have partnered with
                the creators of
                <a class="self-link" href="#vio-enforce-sub-xs" scrollTo>The Barnacle Parking Enforcement System</a> to be the
                exclusive* provider of choice for private sector facilities that have a need to resolve their parking
                issues.</p>
        </div>
    </div>
    <div class="text-div">
        <button (click)="openModal()" class="btn btn-default">WATCH IT WORK</button>
    </div>
</div>
