.enforcement-logo {
    background: url('/public/assets/images/barnaclephoto.jpeg') no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    width: 300px;
    height: 200px;
    margin: auto;
    top: 0;
}

.btn-default {
    margin: auto;
    background-color: orangered;;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}

.btn-default:hover {
    margin: auto;
    background-color: #C63500;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}

.text-div {
    width: 300px;
    text-align: center;
    margin: auto;
}

.header-title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.header-sub-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.header-text {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.self-link {
    color: orangered;
    font-weight: 700;
}

.self-link:hover {
    color: #C63500;
    font-weight: 700;
    text-decoration: none;
}