<accordion>
    <accordion-group #vpe_group>
        <div accordion-heading>
            Violox Parking Enforcement Program
            <i class="pull-right float-xs-right glyphicon"
               [ngClass]="{'glyphicon-chevron-down': vpe_group?._isOpen, 'glyphicon-chevron-right': !vpe_group?._isOpen}"></i>
        </div>
        <p>
            Sit qui est voluptate proident minim cillum in aliquip cupidatat labore pariatur id tempor id.
            Proident occaecat occaecat sint mollit tempor duis dolor cillum anim. Dolore sunt ea mollit
            fugiat in aliqua consequat nostrud aliqua ut irure in dolore. Proident aliqua culpa sint sint
            exercitation. Non proident occaecat reprehenderit veniam et proident dolor id culpa ea tempor do
            dolor. Nulla adipisicing qui fugiat id dolor. Nostrud magna voluptate irure veniam veniam labore
            ipsum deserunt adipisicing laboris amet eu irure. Sunt dolore nisi velit sit id. Nostrud
            voluptate labore proident cupidatat enim amet Lorem officia magna excepteur occaecat eu qui.
            Exercitation culpa deserunt non et tempor et non.
        </p>
    </accordion-group>
    <accordion-group #eas_group>
        <div accordion-heading>
            Enforcement Alert System
            <i class="pull-right float-xs-right glyphicon"
               [ngClass]="{'glyphicon-chevron-down': eas_group?._isOpen, 'glyphicon-chevron-right': !eas_group?._isOpen}"></i>
        </div>
        <p>
            Tempor voluptate ex consequat fugiat aliqua. Do sit et reprehenderit culpa deserunt culpa.
            Excepteur quis minim mollit irure nulla excepteur enim quis in laborum. Aliqua elit voluptate ad
            deserunt nulla reprehenderit adipisicing sint. Est in eiusmod exercitation esse commodo. Ea
            reprehenderit exercitation veniam adipisicing minim nostrud. Veniam dolore ex ea occaecat non
            enim minim id ut aliqua adipisicing ad. Occaecat excepteur aliqua tempor cupidatat aute dolore
            deserunt ipsum qui incididunt aliqua occaecat sit quis. Culpa sint aliqua aliqua reprehenderit
            veniam irure fugiat ea ad.
        </p>    </accordion-group>
    <accordion-group #asq_group>
        <div accordion-heading>
            Assessment Services for Quality
            <i class="pull-right float-xs-right glyphicon"
               [ngClass]="{'glyphicon-chevron-down': asq_group?._isOpen, 'glyphicon-chevron-right': !asq_group?._isOpen}"></i>
        </div>
        <p>
            Eu minim fugiat laborum irure veniam Lorem aliqua enim. Aliqua veniam incididunt consequat irure
            consequat tempor do nisi deserunt. Elit dolore ad quis consectetur sint laborum anim magna do
            nostrud amet. Ea nulla sit consequat quis qui irure dolor. Sint deserunt excepteur consectetur
            magna irure. Dolor tempor exercitation dolore pariatur incididunt ut laboris fugiat ipsum sunt
            veniam aute sunt labore. Non dolore sit nostrud eu ad excepteur cillum eu ex Lorem duis.
        </p>
    </accordion-group>
    <accordion-group #vpay_group>
        <div accordion-heading>
            Immobilization Payment System
            <i class="pull-right float-xs-right glyphicon"
               [ngClass]="{'glyphicon-chevron-down': vpay_group?._isOpen, 'glyphicon-chevron-right': !vpay_group?._isOpen}"></i>
        </div>
        <p>
            Id occaecat velit non ipsum occaecat aliqua quis ut. Eiusmod est magna non esse est ex
            incididunt aute ullamco. Cillum excepteur sint ipsum qui quis velit incididunt amet. Qui
            deserunt anim enim laborum cillum reprehenderit duis mollit amet ad officia enim. Minim sint et
            quis aliqua aliqua do minim officia dolor deserunt ipsum laboris. Nulla nisi voluptate
            consectetur est voluptate et amet. Occaecat ut quis adipisicing ad enim. Magna est magna sit
            duis proident veniam reprehenderit fugiat reprehenderit enim velit ex. Ullamco laboris culpa
            irure aliquip ad Lorem consequat veniam ad ipsum eu. Ipsum culpa dolore sunt officia laborum
            quis.
        </p>
    </accordion-group>
</accordion>
