.home-image {
    /*background: url('/public/assets/images/downtown-bw.jpg') no-repeat center center fixed;*/
    /*background: url('/public/assets/images/violox-downtown.jpg') no-repeat center center fixed;*/
    /*background: url('/public/assets/images/downtown3000x450.jpg') no-repeat center center fixed;*/
    background: url('/public/assets/images/downtown320x480.jpg') no-repeat center fixed;
    -webkit-background-size: contain;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*-webkit-transform: translate(0px, -10px);*/
    /*-moz-transform: translate(0px, -10px);*/
    /*-ms-transform: translate(0px, -10px);*/
    /*-o-transform: translate(0px, -10px);*/
    /*transform: translate(0px, -10px);;*/
}

/*.brand-large {*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*margin-left: -180px;*/
    /*margin-top: -60px;*/

/*}*/

.text-center {
    position: absolute;
    width: 320px;
    color: #ffffff;
    font: 50px arial, sans-serif;
    text-align: center;
    vertical-align: middle;
    left: 50%;
    margin-left: -160px;
    margin-top: 120px;
}

.overlay-scrim {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 255) 80%);
    background: -o-linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 255) 80%);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 255) 80%);
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 255) 80%);
    height: 500px;
    width: 100%;
    padding-top: 100px;
}

.signup {
    position: absolute;
    background-color: steelblue;
    color: white;
    font-size: 30px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: 310px;
}

.signup:hover {
    position: absolute;
    background-color: #33607f;
    color: white;
}


