.home-image {
    background: #1d2f45 url('/public/assets/images/lg_barnvid.png') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size:  cover;
    background-size:  cover;
    top: 0;
    left:0;
}

.overlay-scrim {
    background-color: rgba(0,78,128,.7);
    padding: 25px 0 25px 0;
}

.header-title {
    font-family: "Roboto";
    color: white;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    width: 300px;
    padding-top: 60px;
    line-height: 98%;
    margin-bottom: 30px;
}
div{
    margin:auto;
}
.header-text {
    font-family: "Roboto";
    color: white;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 300px;
    margin-bottom: 15px;
}

.btn-default {
    margin: auto;
    background-color: orangered;;
    border: orangered;;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.btn-default:hover {
    background-color: #C63500;
}

