<div style="position: relative; height: 85vh; overflow: hidden">
    <video src="/public/assets/videos/VLBarnCapSilent.mp4" playsinline muted autoplay loop id="head-vid"></video>
    <div class="overlay-scrim">
        <div class="header-title">
            <p>Fix your parking problems.</p>
        </div>
        <div class="header-text">
            <p>Violox helps private properties control parking and boost revenue with fast and flexible parking
                enforcement, permits, and mobile alerts. </p>
        </div>
        <div style="width: 190px; padding:10px 0 10px 0;">
            <a scrollTo href="#vio-enforce-sub-xs" class="btn btn-default">SEE HOW IT WORKS</a>
        </div>
        <div style="width:30px; margin-bottom: 30px">
            <a scrollTo href="#vio-enforce-sub-xs"><i class="fa fa-chevron-down fa-2x fa-inverse"></i></a>
        </div>
    </div>
</div>
