<div class="home-image">
    <div class="overlay-scrim">
        <div class="header-title">
            <p>Fix your parking problems.</p>
        </div>
        <div class="header-text">
            <p>Violox helps private properties control parking, boost revenue, and wow tenants with fast and flexible
                parking enforcement, permits, and mobile alerts. </p>
        </div>
        <div style="width: 190px; padding:10px 0 10px 0;">
            <button  (click)="openModal()" class="btn btn-default">SEE HOW IT WORKS</button>
        </div>
        <div style="width:30px;">
            <a href="#vio-enforce" scrollTo><i class="fa fa-chevron-down fa-2x fa-inverse"></i></a>
        </div>
    </div>
</div>
