<div>
    <div class="center-services">
        <div class="enforcement-logo horiz-blocks-left"></div>
        <div class="horiz-blocks-right">
            <div class="text-div">
                <p class="header-title">Enforcement. Evolved.</p>
                <p class="header-sub-title">Meet The Barnacle</p>
                <p class="header-text">Violox, a non-towing parking solutions network company, is ready to vastly
                    improve private property parking with our smart, fast, and flexible tools. We are proud to have
                    partnered with the creators of
                    <a class="self-link" href="#vio-enforce" scrollTo>The Barnacle Parking Enforcement System</a>
                    to be the exclusive* provider of choice for private sector facilities that have a
                    need to resolve their parking issues.</p>
                <button (click)="openModal()" class="btn btn-default">WATCH IT WORK</button>
            </div>
        </div>
        <div style="clear: both;"></div>
        <hr style="margin: 0;"/>
    </div>
</div>
