<div class="container-fluid">
    <div class="container" style="height: 300px">
        <div class="row">
            <div class="col-sm-2 "></div>
            <div class="col-sm-8 ">
                <div class="panel panel-default service-container ">
                    <div class="panel-body">
                        <!--<p>ENFORCEMENT</p>-->
                        <p>
                            Violox is the leader in the parking enforcement industry using the most innovative
                            technologies to promote knowledge and safety for all parties involved in a way that has
                            never been accomplished. We service Apartment Communities, Mixed/Use Properties, Commercial
                            Properties, HOA’s, and Parking Garages that have parking issues. In addition, we partner
                            with security personnel that is either already servicing your property or in your area to
                            provide enforcement for free. </p></div>
                </div>
            </div>
            <div class="col-sm-2 "></div>
        </div>
        <div class="row">
            <div class="col-sm-2 "></div>
            <div class="col-sm-8">
                <div class="panel panel-default service-container">
                    <div class="panel-body">
                        <!--<p>PERMITS</p>-->
                        <p> VioPass by Violox is a streamlined system that is controlled by property management, but
                            used for and paid for by the tenants themselves to save you valuable time, money, and
                            headaches. Permits are easy peasy with VioPass. Tenants login online and register their
                            license plate(s) to the tags. They pay. We ship. You focus on your property, not parking.
                            VioPass also prints temporary passes that expire in 15 days. Visitor passes can be easily
                            printed with a click of a button at your management office. When a tenant vacates and new on
                            moves in, no problem. No confusion. Permits renew annually, are color coded, and are
                            non-transferable. No fuss. No muss.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 "></div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="panel panel-default service-container">
                    <div class="panel-body">
                        <!--<p>ALERTS</p>-->
                        <p>The proprietary mobile alert system (MAS) by Violox is an application that we have developed
                            to take away the annoying need for a property owner, manager, or agent to ever have to pick
                            up a phone and call a tow company. How it works: Once a parking violation is located, the
                            agent inputs basic vehicle information into MAS, clicks submit and that information is
                            submitted to any local parking enforcement agent in your area that is authorized to enforce
                            on your property. This can be Violox using The Barnacle, or it can be with whom your
                            property already contracts. It is your Choice!
                        </p>
                        <p>
                            <small>
                                <sup>*</sup> Fees apply if Violox is not the enforcement
                                service provider.
                            </small>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-2 "></div>
        </div>
    </div>
</div>
