.nav-logo {
    margin-top: 5px;
    width: 175px;
    height: 90px;
    display: block;
    background: url('../../public/assets/images/140x90_logo_with_slogan.svg') no-repeat 25px 0;
    -webkit-background-size: contain;
    background-size: contain;
}

nav{
    border:none;
    box-shadow: 0 -5px 20px 0px black;
}
@media only screen and (max-width: 767px) {
    .nav-logo {
        height: 90px;
        display: block;
        background: url('../../public/assets/images/140x90_logo_with_slogan.svg') no-repeat 3px 0;
        -webkit-background-size: contain;
        background-size: contain;
    }

    .btn-danger{
        margin-left: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 855px) {
    .hide-860 {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .show-860 {
        display: none;
    }
}

@media only screen and (min-width: 856px) {
    .show-860 {
        display: none;
    }
}

.navbar-default {
    background-color: white;
    font-family: Roboto, sans-serif;
    color: black;
    font-size: 13px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: orangered;
}

.navbar-default .navbar-nav > li > a {
    font-family: Roboto, sans-serif;
    color: black;
    font-size: 13px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.btn.btn-danger {
    width: 180px;
}

.btn-danger {
    color: white;
    background-color: orangered;
    border-color: orangered;
}

.navbar-default .navbar-nav > li > a.btn-danger {
    color: white;
}

.navbar-default .navbar-nav > li > a.btn-danger:active,
.navbar-default .navbar-nav > li > a.btn-danger:focus,
.navbar-default .navbar-nav > li > a.btn-danger:hover {
    color: orangered;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    font-size: 13px;
    font-weight: 500;
    color: black;
}

@media only screen and (min-width: 768px) {
    #bs-example-navbar-collapse-1 {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 768px) {
    #hamburger {
        margin-top: 30px;
    }
}
