.home-image {
    background: url('/public/assets/images/dallas-991x660.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.contact_blurb{
    text-align: center;
    color: white;
    padding-top: 230px;
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;
}
.overlay-scrim {
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 255) 50%);
    background: -o-linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 255) 50%);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 255) 50%);
    background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 255) 50%);
    height: 660px;
    width: 100%;
    padding-top: 100px;
}

.section-buffer{
    height: 660px;
}