.contact-logo {
    width: 71px;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.glyph-part > .fa.fa-2x {
    font-size: 23px;
}

.copyright {
    text-align: left;
    font-size: 8px;
    font-weight: 300;
    color: orangered;
}

.phone-link{
    color:#3a3a3a;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}

.phone-link:hover{
    color:orangered;
    text-decoration: none;
}

.header-title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.header-sub-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.header-text {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
}


.self-link {
    color: black;
    text-decoration: none;
}

.self-link:hover {
    color: orangered;
    text-decoration: none;
}