<div class="container" style="height: 90vh">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div>
                <a scrollTo href="#vio-header">
                    <img class="contact-logo" src="../../public/assets/images/100x70_logo_regular.svg">
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div>
                <div style="width: 300px; text-align: left">
                    <p class="header-text">Violox helps private properties control parking, boost revenue, and wow
                        tenants
                        with
                        fast and flexible
                        parking enforcement, permits, and mobile alerts.</p>
                </div>
                <div>
                    <!--phone-->
                    <a class="phone-link" href="tel:469-708-6080"><p>469-708-6080</p></a>
                </div>
                <div>
                    <!--address-->
                    <p class="header-text"> 2435 N Central Expy<br/>
                        12th Floor<br/>
                        Richardson, TX 75080
                    </p>
                </div>
                <div style="padding: 0 0 5px 0">
                    <!--social media-->
                    <span class="glyph-part"><i class="fa fa-2x fa-facebook-square"></i></span>
                    <span class="glyph-part"><i class="fa fa-2x fa-twitter-square"></i></span>
                    <span class="glyph-part"><i class="fa fa-2x fa-linkedin-square"></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div>
                <!--who we serve-->
                <p class="header-sub-title">
                    <a class="phone-link" scrollTo href="#vio-serve">Who We Serve.</a>
                </p>
                <ul style="list-style: none">
                    <li class="header-text">Apartments</li>
                    <li class="header-text">Mixed Use</li>
                    <li class="header-text">Commercial</li>
                    <li class="header-text">Garages</li>
                    <li class="header-text">HOAs</li>
                    <li class="header-text">Hotels</li>
                    <li class="header-text">Motels</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div>
                <!--the goods-->
                <p class="header-sub-title">
                    <a class="phone-link visible-xs" scrollTo href="#vio-enforce-sub-xs">The Goods.</a>
                    <a class="phone-link visible-sm visible-md visible-lg" scrollTo href="#vio-enforce-sub-md">The Goods.</a>
                </p>
                <ul style="list-style: none">
                    <li class="header-text visible-xs"><a href="#vio-enforce-sub-xs" scrollTo class="self-link">Enforcement</a></li>
                    <li class="header-text visible-sm visible-md visible-lg"><a href="#vio-enforce-sub-md" scrollTo class="self-link">Enforcement</a></li>
                    <li class="header-text"><a href="#vio-permit" scrollTo class="self-link">Permit</a></li>
                    <li class="header-text"><a href="#vio-alert" scrollTo class="self-link">Alert</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-11 col-lg-11">
            <!--copyright-->
            <p class="copyright">* Barnacle Exclusivity currently for Dallas / Fort Worth Metroplex and surrounding
                counties.<br/>
                All other <a class="copyright" href="#vio-serve" scrollTo>solutions</a> available everywhere.</p>
            <p class="copyright">Copyright Violox, LLC &copy; 2017</p>

        </div>
    </div>
</div>
