<div style="padding: 0 15px 0 15px;">
    <div>
        <img class="contact-logo" src="../../public/assets/images/splashlogo.png">
        <div style="width: 300px; text-align: left">
            <p class="header-text">Violox helps private properties control parking, boost revenue, and wow tenants with
                fast and flexible
                parking enforcement, permits, and mobile alerts.</p>
        </div>
    </div>
    <div>
        <div>
            <!--phone-->
            <a class="phone-link" href="tel:469-708-6080"><p>469-708-6080</p></a>
        </div>
        <div>
            <!--address-->
            <p class="header-text"> 2435 N Central Expy<br/>
                12th Floor<br/>
                Richardson, TX 75080
            </p>
        </div>
        <div style="padding: 0 0 5px 0">
            <!--social media-->
            <span class="glyph-part"><i class="fa fa-2x fa-facebook-square"></i></span>
            <span class="glyph-part"><i class="fa fa-2x fa-twitter-square"></i></span>
            <span class="glyph-part"><i class="fa fa-2x fa-linkedin-square"></i></span>
        </div>
    </div>
    <div>
        <!--who we serve-->
        <p class="header-sub-title">Who We Serve.</p>
        <ul style="list-style: none">
            <li class="header-text">Apartments</li>
            <li class="header-text">Mixed Use</li>
            <li class="header-text">Commercial</li>
            <li class="header-text">Garages</li>
            <li class="header-text">HOAs</li>
            <li class="header-text">Hotels</li>
            <li class="header-text">Motels</li>
        </ul>
    </div>
    <div>
        <!--the goods-->
        <p class="header-sub-title">The Goods.</p>
        <ul style="list-style: none">
            <li class="header-text"><a href="#vio-enforce" scrollTo class="self-link">Enforcement</a></li>
            <li class="header-text"><a href="#vio-permit" scrollTo class="self-link">Permit</a></li>
            <li class="header-text"><a href="#vio-alert" scrollTo class="self-link">Alert</a></li>
        </ul>
    </div>
    <div>
        <!--copyright-->
        <p class="copyright">* Barnacle Exclusivity currently for Dallas / Fort Worth Metroplex and surrounding
            counties.<br/>
            All other <a class="copyright" href="#vio-serve" scrollTo>solutions</a> available everywhere.</p>
        <p class="copyright">Copyright Violox, LLC &copy; 2017</p>
    </div>
</div>
