<div>
    <vio-modal-request-xs></vio-modal-request-xs>
</div>
<!--Navigation-->
<div id="vio-nav">
    <vio-nav></vio-nav>
</div>
<div style="height:56px"></div>
<!--Header-->
<div>
    <a class="anchor" id="vio-header"></a>
    <vio-header-xs></vio-header-xs>
</div>
<!--Association Images-->
<div>
    <a class="anchor" id="vio-associated"></a>
    <vio-partners-xs></vio-partners-xs>
</div>
<!--Products and Who We Serve-->
<div>
    <a class="anchor" id="vio-serve"></a>
    <vio-about-xs></vio-about-xs>
</div>
<!--Enforcement-->
<div>
    <a class="anchor" id="vio-enforce"></a>
    <vio-enforce-xs class="visible-xs"></vio-enforce-xs>
    <vio-enforce-md class="visible-sm visible-md"></vio-enforce-md>
    <vio-enforce-lg class="visible-lg"></vio-enforce-lg>
</div>
<!--Permits-->
<div>
    <a class="anchor" id="vio-permit"></a>
    <vio-permit-xs class="visible-xs"></vio-permit-xs>
    <vio-permit-md class="visible-sm visible-md"></vio-permit-md>
    <vio-permit-lg class="visible-lg"></vio-permit-lg>
</div>
<!--Alerts-->
<div>
    <a class="anchor" id="vio-alert"></a>
    <vio-alert-xs class="visible-xs"></vio-alert-xs>
    <vio-alert-md class="visible-sm visible-md"></vio-alert-md>
    <vio-alert-lg class="visible-lg"></vio-alert-lg>
</div>
<!--Security Partners-->
<!--todo:change to vio-security-partners-->
<div>
    <a class="anchor" id="vio-security"></a>
    <vio-svc-xs></vio-svc-xs>
</div>

<!--Request Information-->
<!--todo:Change to vio-get-started-->
<div>
    <a class="anchor" id="vio-get-started"></a>
    <vio-benefits-xs></vio-benefits-xs>
</div>

<!--Footer-->
<!--todo:change to vio-footer-->
<div>
    <a class="anchor" id="vio-footer"></a>
    <vio-contacts-xs></vio-contacts-xs>
</div>

<div>
    <vio-home></vio-home>
</div>

