<!--Navigation-->
<div id="vio-nav">
    <vio-nav></vio-nav>
</div>
<!--Header-->
<div id="vio-header">
    <vio-header-xs></vio-header-xs>
</div>

<!--Association Images-->
<div id="vio-associated">
    <vio-partners-xs></vio-partners-xs>
</div>

<!--Products and Who We Serve-->
<div id="vio-serve">
    <vio-about-xs></vio-about-xs>
</div>
<!--Enforcement-->
<div id="vio-enforce">
    <vio-enforce-xs class="visible-xs"></vio-enforce-xs>
    <vio-enforce-md class="visible-sm visible-md"></vio-enforce-md>
    <vio-enforce-lg class="visible-lg"></vio-enforce-lg>
</div>
<!--Permits-->
<div id="vio-permit">
    <vio-permit-xs class="visible-xs"></vio-permit-xs>
    <vio-permit-md class="visible-sm visible-md"></vio-permit-md>
    <vio-permit-lg class="visible-lg"></vio-permit-lg>
</div>
<!--Alerts-->
<div id="vio-alert">
    <vio-alert-xs class="visible-xs"></vio-alert-xs>
    <vio-alert-md class="visible-sm visible-md"></vio-alert-md>
    <vio-alert-lg class="visible-lg"></vio-alert-lg>
</div>
<!--Security Partners-->
<!--todo:change to vio-security-partners-->
<div id="vio-security">
    <vio-svc-xs></vio-svc-xs>
</div>

<!--Request Information-->
<!--todo:Change to vio-get-started-->
<div id="vio-get-started">
    <vio-benefits-xs></vio-benefits-xs>
</div>

<!--Footer-->
<!--todo:change to vio-footer-->
<div id="vio-footer">
    <vio-contacts-xs></vio-contacts-xs>
</div>

<div>
    <vio-home></vio-home>
</div>

<div>
    <vio-modal-request-xs></vio-modal-request-xs>
</div>


<!--Navigation-->
<!--<div id="vio-nav">-->
<!--<vio-nav></vio-nav>-->
<!--</div>-->
<!--Header-->
<!--<div id="vio-header">-->
<!--<vio-header class="visible-lg"></vio-header>-->
<!--<vio-header class="visible-md"></vio-header>-->
<!--<vio-header class="visible-sm"></vio-header>-->
<!--<vio-header-xs class="visible-xs"></vio-header-xs>-->
<!--</div>-->

<!--&lt;!&ndash;Association Images&ndash;&gt;-->
<!--<div id="vio-associated">-->
<!--<vio-partners-xs class="visible-xs"></vio-partners-xs>-->
<!--</div>-->

<!--&lt;!&ndash;Products and Who We Serve&ndash;&gt;-->
<!--<div id="vio-serve">-->
<!--<vio-about-xs class="visible-xs"></vio-about-xs>-->
<!--</div>-->
<!--&lt;!&ndash;Enforcement&ndash;&gt;-->
<!--<div id="vio-enforce">-->
<!--<vio-enforce-xs class="visible-xs"></vio-enforce-xs>-->
<!--</div>-->
<!--&lt;!&ndash;Permits&ndash;&gt;-->
<!--<div id="vio-permit">-->
<!--<vio-permit-xs class="visible-xs"></vio-permit-xs>-->
<!--</div>-->
<!--&lt;!&ndash;Alerts&ndash;&gt;-->
<!--<div id="vio-alert">-->
<!--<vio-alert-xs class="visible-xs"></vio-alert-xs>-->
<!--</div>-->
<!--&lt;!&ndash;Security Partners&ndash;&gt;-->
<!--&lt;!&ndash;todo:change to vio-security-partners&ndash;&gt;-->
<!--<div id="vio-security">-->
<!--<vio-svc-xs class="visible-xs"></vio-svc-xs>-->
<!--</div>-->

<!--&lt;!&ndash;Request Information&ndash;&gt;-->
<!--&lt;!&ndash;todo:Change to vio-get-started&ndash;&gt;-->
<!--<div id="vio-get-started">-->
<!--<vio-benefits-xs class="visible-xs"></vio-benefits-xs>-->
<!--</div>-->

<!--&lt;!&ndash;Footer&ndash;&gt;-->
<!--&lt;!&ndash;todo:change to vio-footer&ndash;&gt;-->
<!--<div id="vio-footer">-->
<!--<vio-contacts-xs class="visible-xs"></vio-contacts-xs>-->
<!--</div>-->

<!--<div>-->
<!--<vio-home></vio-home>-->
<!--</div>-->

<!--<div>-->
<!--<vio-modal-request-xs></vio-modal-request-xs>-->
<!--</div>-->