<nav class="navbar navbar-fixed-top navbar-inverse" style="margin-bottom: 0;">
    <div id="vio-nav">
        <vio-nav class="visible-lg visible-md visible-sm visible-xs"></vio-nav>
    </div>
</nav>
<div id="vio-header">
    <vio-header class="visible-lg visible-md visible-sm visible-xs"></vio-header>
</div>
<div id="vio-about">
    <vio-about class="visible-lg"></vio-about>
    <vio-about-md class="visible-md visible-sm visible-xs"></vio-about-md>
</div>
<div id="vio-benefits">
    <vio-benefits class="visible-lg visible-md visible-sm visible-xs"></vio-benefits>
</div>
<div id="vio-services">
    <vio-svc class="visible-lg visible-md visible-sm visible-xs"></vio-svc>
</div>
<div id="vio-partners">
    <vio-partners class="visible-lg visible-md visible-sm visible-xs"></vio-partners>
</div>
<div id="vio-contacts">
    <vio-contacts class="visible-lg visible-md visible-sm visible-xs"></vio-contacts>
</div>

