<div style="margin-bottom: 30px">
    <div class="text-div">
        <div class="alert-logo"></div>
        <p class="header-title">Mobile Alerts. Instantly Dispatched.</p>
        <p class="header-sub-title">Notify enforcement at lightning speeds.</p>
        <p class="header-text">ParkAlert eliminates the cumbersome need for a property manager, owner, or authorized
            agent to ever have to pick up a phone and call their contracted towing or booting company of choice when the
            need for escalated enforcement arises. Alerting enforcement has never been easier.
            <a class="self-link" href="#vio-alert" scrollTo>ParkAlert automates the entire process</a>!
            ParkAlert is integrated in the TenPark environment or can stand alone.</p>
        <button (click)="openModal()" class="btn btn-default">REQUEST A DEMO</button>
    </div>
</div>
