<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="media">
                    <div class="media-left">
                        <div><i class="fa fa-smile-o fa-5x fa-border"></i></div>
                    </div>
                    <div class="media-body">
                        <span><strong>SATISFIED TENANTS</strong></span>
                        <span class="benefit-label-text">More parking available for tenants and patrons. Everyone wins!</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="media">
                    <div class="media-left">
                        <div><i class="fa fa-clock-o fa-5x fa-border"></i></div>
                    </div>
                    <div class="media-body">
                        <span><strong>SAVE TIME</strong></span><br/>
                        <span class="benefit-label-text">Managers, security personnel, tenants, and yes, even the violators.</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="media">
                    <div class="media-left">
                        <div class="extend_glyph">
                            <div class="extend_glyph_inner">
                                <div style="text-align: center;"><i class="fa fa-usd fa-5x"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <span><strong>FREE SERVICE</strong></span><br/>
                        <span class="benefit-label-text">Violox service is absolutely free to all properties we service.</span>

                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="media">
                    <div class="media-left">
                        <div class="extend_glyph">
                            <div class="extend_glyph_inner">
                                <div style="text-align: center;"><i class="fa fa-user fa-5x"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <span><strong>SAFETY</strong></span><br/>
                        <span class="benefit-label-text">Safer for enforcement personnel.  Safer for the motorist.  Safer for all.</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>