<div class="container">
    <div>
        <div>

            <div class="about-header">
                <h4><strong>The Future of Parking Enforcement Is Now!</strong></h4>
                <p>Violox, a non-towing parking enforcement company, is set to take the parking enforcement industry by
                    storm.
                    We are proud to have partnered with the creators of The Barnacle to be the exclusive service
                    provider of
                    choice for private sector facilities that have a need to resolve their parking issues.</p>
                <hr>
            </div>

            <div class="powered-by-learn-more">
                <div class="powered-by-barnacle">
                    <img src="../../public/assets/images/powered-by-barnacle.png">
                </div>
                <div class="learn-more">
                    <a href="https://www.youtube.com/watch?v=3tA5O8MStCs" id="learn-more-button" class="btn btn-default">
                        <span style="font-size: 15px">Learn More</span>
                        <i class="glyphicon glyphicon-arrow-right"></i>
                    </a>
                </div>
            </div>


            <a href="#">
                <img class="barnacle-car" src="../../public/assets/images/barnaclephoto.jpeg" alt="Barnacled">
            </a>

            <hr>
            <div class="center-glyphs-outer">
                <div class="center-glyphs">
                    <div class="my-fancy-container">
                        <span><i class="fa fa-building-o fa-2x"></i></span>
                        <span class="my-text">Apartments</span>
                    </div>
                    <div class="my-fancy-container">
                        <span><i class="fa fa-building fa-2x"></i></span>
                        <span class="my-text">Mixed/Use</span>
                    </div>
                </div>
            </div>

            <div class="center-glyphs-outer">
                <div class="center-glyphs">
                    <div class="my-fancy-container">
                        <span><i class="fa fa-building-o fa-2x"></i></span>
                        <span class="my-text">Commercial</span>
                    </div>
                    <div class="my-fancy-container">
                        <span><i class="fa fa-car fa-2x"></i></span>
                        <span class="my-text">Garages</span>
                    </div>
                </div>
            </div>

            <div class="center-glyphs-outer">
                <div class="center-glyphs">
                    <div class="my-fancy-container">
                        <span><i class="fa fa-home fa-2x"></i></span>
                        <span class="my-text">HOAs</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
