<div class="about-home-image">
    <div class="overlay-scrim">
        <div style="padding: 20px 0 20px 0">
            <div class="about-logo"></div>
        </div>
        <div>
            <div class="about-header">
                <p>Violox provides a balanced parking ecosystem to a variety of multifamily communities and commercial
                    properties. In addition,
                    <a class="self-link" scrollTo href="#vio-security">we partner with security companies</a> that
                    already patrol
                    your property or that are in your area to provide immediate parking enforcement that just works.</p>
            </div>
        </div>
        <div style="margin: 20px 0 20px 0">
            <div style="width: 220px; margin: auto">
                <div style="text-align: center">
                <span class="glyph-part">
                    <i class="fa fa-building fa-inverse"></i>
                </span>
                    <span class="glyph-part">
                    <i class="fa fa-car fa-inverse"></i>
                </span>
                    <span class="glyph-part">
                    <i class="fa fa-home fa-inverse"></i>
                </span>
                    <span class="glyph-part">
                    <i class="fa fa-building fa-inverse"></i>
                </span>
                </div>
                <a id="vio-enforce-sub-xs" class="anchor"></a>
            </div>
            <div style="width: 300px; margin: auto">
                <p class="glyph-footer">Apartments . Mixed Use . Commercial . Garages . HOAs <br/> Hotels . Motels</p>
            </div>
        </div>
    </div>
</div>
