<div class="container" style="margin-top: 50px">
    <div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="../../public/assets/images/barnaclephoto.jpeg" width="500px"
                         alt="Barnacled">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading future"><strong>The Future of Parking Enforcement Is Now!</strong></h4>
                <p>Violox, a non-towing parking enforcement company, is set to take the parking enforcement industry by
                    storm.
                    We are proud to have partnered with the creators of The Barnacle to be the exclusive service
                    provider of
                    choice for private sector facilities that have a need to resolve their parking issues.</p>
                <div class="center-glyphs-outer">
                    <div class="center-glyphs">
                        <div class="my-fancy-container">
                            <span><i class="fa fa-building-o fa-2x"></i></span>
                            <span class="my-text">Apartments</span>
                        </div>
                        <div class="my-fancy-container">
                            <span><i class="fa fa-building fa-2x"></i></span>
                            <span class="my-text">Mixed/Use</span>
                        </div>
                        <div class="my-fancy-container">
                            <span><i class="fa fa-building-o fa-2x"></i></span>
                            <span class="my-text">Commercial</span>
                        </div>
                        <div class="my-fancy-container">
                            <span><i class="fa fa-car fa-2x"></i></span>
                            <span class="my-text">Garages</span>
                        </div>
                        <div class="my-fancy-container">
                            <span><i class="fa fa-home fa-2x"></i></span>
                            <span class="my-text">HOAs</span>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <img src="../../public/assets/images/powered-by-barnacle.png">
                        </div>
                        <div class="media-body">
                            <div id="learn-more-button" class="btn btn-default">
                                <span style="font-size: 25px">Learn More</span> <span
                                    class="glyphicon glyphicon-arrow-right"></span></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
