.container {
    margin-bottom: 100px;
}

.my-fancy-container {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 2px;
    padding: 10px;
    font-family: "Arial", "sans-serif";
}

.my-text {
    font-family: "Arial", "sans-serif";
}

.my-icon {
    vertical-align: middle;
    font-size: 40px;
}

.center-glyphs-outer {
    position: relative;
    width: 100%;
}

.center-glyphs {
    display: table;
    margin: 0 auto;
}

.future {
    font-family: "Arial", "sans-serif";
    font-size: 20pt;
    color: steelblue;
    text-align: center;
    display: block;
    width: 100%;

}

#learn-more-button{
    border-color: steelblue;
    background-color: white;
    color: steelblue;
}

#learn-more-button:hover{
    background-color: #33607f;
    color: white;
}
