<div>
    <div class="center-services">
        <div class="horiz-blocks-left">
            <div class="text-div">
                <p class="header-title">Permits. Solved.</p>
                <p class="header-sub-title">Digital Data + Durable Decals</p>
                <p class="header-text">TenPark is the easiest cloud based platform to register, manage, and track tenant
                    parking
                    permits for
                    <a class="self-link" href="#">any size property</a>.
                    Administrators, enforcement agents, and tenants can easily access TenPark wherever they are,
                    on any device, and on any web browser.
                    <a class="self-link" href="#>">Boost revenue, cut costs, and save valuable time</a>
                    and headaches with TenPark. Our properties enjoy this revenue positive option with no setup or
                    ongoing
                    fees
                    made possible by passing small annual permit fees to tenants. No fuss. No muss. No confusion.</p>
                <button (click)="openModal()" class="btn btn-default">REQUEST A DEMO</button>
            </div>
        </div>
        <div class="permit-logo horiz-blocks-right"></div>
        <div style="margin-top: 30px"></div>
    </div>
    <hr style="margin: 0;"/>
</div>
