<div>
    <div class="center-services">
        <div class="horiz-blocks-left">
            <div class="text-div">
                <p class="header-title">Permits. Solved.</p>
                <p class="header-sub-title">Digital Data + Durable Decals</p>
                <p class="header-text">Wow your tenants and keep them! TenPark is the easiest way to register, manage,
                    and track
                    tenant parking permits for
                    <a class="self-link" href="#vio-permit" scrollTo>any size property</a>.
                    Property administrators, enforcement agents, and tenants can easily access TenPark wherever they
                    are, on any
                    connected device, and on any web browser.
                    <a class="self-link" href="#vio-permit" scrollTo>Boost revenue, cut costs, and save valuable
                        time</a>
                    and headaches with the TenPark cloud based platform. Our client properties enjoy this revenue
                    positive
                    option with no setup cost or ongoing fees made possible by passing a small annual fee to tenants.
                    <br/>
                    No fuss. No muss. No confusion.</p>
                <button (click)="openModal()" class="btn btn-default">REQUEST A DEMO</button>
            </div>
        </div>
        <div class="permit-logo horiz-blocks-right"></div>
        <div style="clear:both;"></div>
        <hr style="margin: 0;"/>
    </div>
</div>
