.fa {
    color: white;
    background-color: orangered;
}

.benefit-label-text{
    color: grey;
}

.container {
    margin-bottom: 30px;
    background-color: #eeeeee;
    margin-top: 30px;
}

.container-fluid {
    background-color: #eeeeee;
}

.container-fluid {
    background-color: #eeeeee;
}

.extend_glyph {
    width: 107px;
    height: 106px;
    padding: 7px;
    margin: 0;
}

.extend_glyph_inner {
    background-color: orangered;
    padding: 12px 0 12px 0;
}