#circle {
    width: 30px;
    height: 30px;
    background: orangered;
    opacity: 0.50;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 50px;
    position: fixed;
    bottom: 30px;
    right: 15px ;
}

