<div class="security-panel">
    <div class="text-div">
        <div class="police-hat"></div>
    </div>
    <div class="text-div">
        <p class="header-title">Calling All Security Patrol Companies!</p>
        <p class="header-sub-title">Our clients are mutual.</p>
        <p class="header-text">Licensed security companies join us and find out how becoming a Violox Certified Partner
            can increase untapped revenue and boost their portfolio.</p>
        <button (click)="openModal()" class="btn btn-default">PARTNER WITH US</button>
    </div>

</div>
