.security-panel {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #004E80;
    color: white;
}

.police-hat {
    background: url('/public/assets/images/police_hat.svg');
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    height: 134px;
    width: 128px;
    margin: auto
}

.text-div {
    width: 300px;
    text-align: center;
    margin: auto;
}

.btn-default {
    margin: auto;
    background-color: orangered;;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}

.btn-default:hover {
    margin: auto;
    background-color: #C63500;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}


.header-title {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 700;
}

.header-sub-title {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
}

.header-text {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 300;
}
