<!-- The Modal -->
<div id="myModal" class="vio-modal">
    <!-- Modal content -->
    <div class="vio-modal-content">
        <div class="vio-modal-header">
            <img src="/public/assets/images/splashlogo.png"
                 style="width: 47px; height: 31px; ">
            <span class="close" (click)="hideModal()">&times;</span>
        </div>
        <div class="vio-modal-body" style="text-align: center">
            <form name="form" (ngSubmit)="onSubmit()" #f="ngForm">
                <input type="text" name="request_name" placeholder="Name" required class="vio-input"
                       [(ngModel)]="data.request_name" #requestName="ngModel">
                <input type="text" name="request_company" placeholder="Company" class="vio-input"
                       [(ngModel)]="data.request_company" #requestName="ngModel">
                <input type="text" name="request_title" placeholder="Title" class="vio-input"
                       [(ngModel)]="data.request_title" #requestName="ngModel">
                <input type="email" name="request_email" placeholder="Email" class="vio-input"
                       [(ngModel)]="data.request_email" #requestName="ngModel">
                <input type="tel" name="request_phone" placeholder="Phone" class="vio-input"
                       [(ngModel)]="data.request_phone" #requestName="ngModel">
                <button class="btn btn-default">GET A DEMO</button>
            </form>
        </div>
        <div class="vio-modal-footer">
            <div style="float: left;">
                <div style="display: inline-block; text-align: center">
                    <i class="fa fa-plus-circle fa-orange"></i>
                    <br/>
                    <i class="fa fa-clock-o fa-orange"></i>
                </div>
                <div style="display: inline-block; text-align: left">
                    <span class="fa-orange-label"> SAFETY.</span>
                    <br/>
                    <span class="fa-orange-label"> SAVE TIME.</span>
                </div>
            </div>
            <div style="float: right;">
                <div style="display: inline-block; text-align: center">
                    <i class="fa fa-dollar fa-orange"></i><br/><i class="fa fa-smile-o fa-orange"></i>
                </div>
                <div style="display: inline-block; text-align: left">
                    <span class="fa-orange-label"> INCREASE REVENUE.</span><br/><span class="fa-orange-label"> SATISFIED TENANTS.</span>
                </div>
            </div>
        </div>
    </div>
</div>